<header>
 <h1>FEATURED POSTS</h1>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="white" points="0,100 100,0 100,100"/>
  </svg>
</header>

<div class="post-list">
<% @posts.each do |p|%>

<div class="post-item">
    <div>
    <img src="https://image.flaticon.com/icons/svg/2919/2919600.svg" alt="user">
    <div>
   
    <h2><%= p.title %></h2>
     <% @users.each do |u|%>
      <strong>  <%=u.id==p.user_id && logged_in? ? u.username: ""%></strong>
    <%end%>
     </div>
    </div>
        <p>
        <%= p.text %>
       
        <p>
        <%= link_to "View", logged_in? ?post_path(p) : login_path %>
    </div>
<% end %>
</div>
