@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,500;1,200&display=swap')
*
    margin: 0px
    padding: 0px
    box-sizing: border-box
body
    font-family: 'Kanit', sans-serif
    background: #fdf4f7
header
    position: relative
    height: 300px
    background-image: linear-gradient(170deg, rgba(51, 13, 33, 0.9), rgba(189, 41, 120, 1))

h1
    padding: 100px 0
    font: 44px "Arial"
    text-align: center

header h1
    color: white

svg
    position: absolute
    bottom: 0
    width: 100%
    height: 10vw
.view
    display: flex
    justify-content: center
    position: relative
.view-post
    background: white
    box-shadow: 4px 5px 17px 5px rgba(0,0,0,0.42)
    width: 50vw
    padding: 2rem
    border-radius: 10px
    display: grid
    justify-items: center
    text-align: center
    place-self: center
    position: relative
    top: -30px
    p
        padding-bottom: 1rem
    img
        width: 5rem
.delete-post
    background: white
    box-shadow: 4px 5px 17px 5px rgba(0,0,0,0.42)
    width: 50vw
    padding: 2rem
    border-radius: 10px
    display: grid
    justify-items: center
    text-align: center
    place-self: center
    position: relative
    top: -30px
