@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,500;1,200&display=swap')
*
    margin: 0px
    padding: 0px
    box-sizing: border-box
body
    font-family: 'Kanit', sans-serif
    background: #fdf4f7
header
    position: relative
    height: 300px
    background-image: linear-gradient(170deg, rgba(51, 13, 33, 0.9), rgba(189, 41, 120, 1))

h1
    padding: 100px 0
    font: 44px "Arial"
    text-align: center

header h1
    color: white

svg
    position: absolute
    bottom: 0
    width: 100%
    height: 10vw
.view
    display: flex
    justify-content: center
    position: relative
.view-post
    background: white
    box-shadow: 4px 5px 17px 5px rgba(0,0,0,0.42)
    width: 50vw
    padding: 2rem
    border-radius: 10px
    display: grid
    justify-items: center
    text-align: center
    place-self: center
    position: relative
    top: -30px
    p
        padding-bottom: 1rem
    img
        width: 5rem
.delete-post
    background: white
    box-shadow: 4px 5px 17px 5px rgba(0,0,0,0.42)
    width: 50vw
    padding: 2rem
    border-radius: 10px
    display: grid
    justify-items: center
    text-align: center
    place-self: center
    position: relative
    top: -30px
.new-post
    display: flex
    justify-content: center
    >div
        background-color: #fff
        padding: 1rem
        border-radius: 10px
        width: 35vw
        display: flex
        flex-direction: column
        align-items: center
        input[type="text"]
            width: 20rem
            height: 1.8rem
            border-radius: 5px
            border: 1px solid rgba(0,0,0,0.25 )
        label
            margin: 1rem 0px
        textarea
            width: 20rem
            min-height: 5rem
            max-height: 10rem
            border-radius: 5px
        input[type="submit"]
            background: #952f66
            color: #fff
            padding: 10px 1rem
            border-radius: 10px
            font-weight: 600
            font-size: 1rem
            transition: 0.35s
            &:hover
                background: #701747
                cursor: pointer

@media (min-width: 768px ) and (max-width: 1024px)
    .view-post
        width: 90vw

@media (max-width: 768px)
    .view-post
        width: 90vw
